<div class="modal fade" id="confirmModal" role="alertdialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p id="confirmModalMessage">…</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">{{ 'dialogs.buttons.cancel'|trans|capitalize }}</a>
                <a href="#" id="confirmModalOk" class="btn btn-primary">{{ 'dialogs.buttons.ok'|trans|capitalize }}</a>
            </div>
        </div>
    </div>
</div>
