/app/bootstrap.php.cache
/assets/coffee
/assets/sass
/assets/fonts
/backups
/bin/
/composer.phar
/coverage
/node_modules/*
/var/bootstrap.php.cache
/var/cache/*
!var/cache/.gitkeep
/app/config/parameters.yml
/var/logs/*
!var/logs/.gitkeep
/var/sessions/*
!var/sessions/.gitkeep
/vendor/*
/web/*/locale.json
/web/assets
/web/bundles
/web/js
/web/css

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###
