/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/assets/coffee
/assets/sass
/assets/fonts
/backups
/bin/
/composer.phar
/node_modules
/vendor/
/web/*/locale.json
/web/assets
/web/bundles
/web/js
/web/css
