/assets/css
/assets/images
/assets/fonts
/assets/sass
/web/bundles/
/web/css/
/web/js/
/web/*/locale.json
/web/vendor
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/build/
/vendor/
/bin/
/composer.phar
/node_modules
