language: php

matrix:
  include:
    - php: 5.4
    - php: 5.5
    - php: 5.6
    - php: 7
    - php: nightly
    - php: hhvm
    - php: hhvm-nightly
  allow_failures:
    - php: 7
    - php: nightly
    - php: hhvm
    - php: hhvm-nightly

before_script:
  - composer self-update
  - mysql -e 'create database app_test'
  - "sed 's/database_name:*/database_name: app_test/' app/config/parameters.yml.dist | sed 's/database_user:*/database_user: travis/' | sed 's/database_password:*/database_password:/' > app/config/parameters.yml"
  - composer install --prefer-source --no-interaction --no-scripts
  - composer run-script post-travis
  - php app/console doctrine:migration:migrate --env=test --no-interaction
#  - php app/console doctrine:fixtures:load --env=test --no-interaction

  # install bower
  - npm install bower@"^1.3.12"

  # install required grunt-packages
  - npm install grunt@"^0.4.5" load-grunt-tasks@"^3.1.0" grunt-concurrent@"^1.0.0" grunt-sync@"^0.2.3" grunt-contrib-coffee@"^0.12.0"

  # install bower-packages
  - bower install

  # create some bogus files
  - mkdir -p web/assets/css && touch web/assets/css/style.css
  - mkdir -p web/assets/icons && touch web/assets/icons/grunticon.loader.js

  # generate all required assets
  - grunt sync:coffee sync:fonts sync:images sync:js sync:sass coffee
  - php app/console assets:instal --env=test
  - php app/console assetic:dump --env=test

script:
  - bin/phpunit -c app/ --coverage-clover=coverage.clover

after_success:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
