.alert {
  .alert-link {
    color: $white;
    font-weight: bold;
    text-decoration: underline;
    transition: .3s;

    &:hover,
    &:focus {
      color: $gray-dark;
    }
  }

  &.alert-fixed {
    margin-bottom: 0;
  }
}

.alert-dismissible .close {
  color: $white;
  opacity: 1;
  position: static;
}

.alert a {
  color: $white;
  text-decoration: underline;
}
