.ui-autocomplete.ui-widget-content {
  border-color: $gray-lines;

  .ui-menu-item {

    a {
      color: $gray-light;

      &:focus {
        outline: none;
        outline-offset: 0;
      }
    }

    &:focus {
      outline: none;
    }

    &:hover, {
      background-color: $brand-primary;
      color: $white;
    }
  }

  .ui-state-focus {
    background: $brand-primary;
    color: $white;
    border: none;
    margin: 0;

    a {
      color: darken($gray-light, 20%);
    }
  }
}
