.breadcrumb {
  background: none;
  font-weight: 600;
  margin: 0;
  white-space: nowrap;
  z-index: 99;

  .breadcrumb-item {
    float: none;
    display: inline-block;
  }

  > li + li:before {
    //@extend .icon;
    //@extend .icon-angle;
    font-size: $font-size-icon-smaller;
    padding-right: 10px;
  }

  li {
    padding: 0 4px;
  }
}

.touch .breadcrumb {
  overflow-x: scroll;
}
