.breadcrumb {
  border-radius: 0;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 600;
  margin: 0;
  padding: 14px 19px 12px;
  width: 100%;

  > li + li:before {
    content: ' ';
  }

  li {
    padding: 0 4px;

    &:active {
      color: $breadcrumb-active-color;
    }
  }

  a {
    color: $breadcrumb-color;
  }
}

.icon-breadcrumb-separator {
  font-size: $font-size-icon-smallest;
  padding: 4px;
}

@media (min-width: $screen-sm-min) {

  .breadcrumb {
    border-bottom: 0;
    float: left;
    padding: 17px 25px 13px 18px;
  }
}
