.btn {
  border: 0;
  transition: all 150ms;

  &.icon-arrow-white-right {
    background-position: right 20px center;
  }

  .caret {
    border-top-color: #fff;
  }

  &.btn-link {
    background: none;
    color: $gray-light;
  }
}

.btn-group .btn {
  margin-bottom: 2px;
  margin-right: 2px;
}

.btn-group-justified > button.btn {
  width: auto;
}

