.datepicker {
  z-index: 1000000 !important;
  td {
    border-radius: 0 !important;
  }
  td.disabled {
    color: $white !important;
    background-color: rgba($gray-lighter, 0.2) !important;
  }
}

.date-separator {
  line-height: $input-height-base;
}

.ui-widget-header {
  background: $gray-light;
  border-color: $gray-light;
}

.ui-datepicker {
  z-index: 9999 !important;

  th {
    color: $gray-light;
  }
}

.ui-state-default,
.ui-widget-content .ui-state-default {
  background: $gray-lightest;
  border: $gray;
  color: $gray;
}

.ui-datepicker-today .ui-state-default {
  background: $brand-primary;
  color: $white;
}
