/**
 * Defining components dropdowns
 * States: Error, warning, succes, ...
 */

// Dropdowns
.dropdown {
  ul {
    box-shadow: none;
    background: #f9f9f9;
    border-color: #cccdd7;
  }
  a {
    border-bottom: none;
  }
}

.dropdown-menu {
  font-size: 14px;
}
