.help-block {
  color: $gray-light;
  font-size: $font-size-small;
}

.has-error {
  .form-control {
    background: $white;
    border-color: $state-danger-bg;
    box-shadow: none;

    &:focus {
      border-color: $state-danger-bg;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px rgba($state-danger-bg, .6);
    }
  }

  .form-control-feedback {
    color: $state-danger-bg;
  }

  .checkbox,
  .control-label {
    color: $state-danger-bg;
  }
}

.has-warning {

  .form-control {
    border-color: $state-warning-bg;
    box-shadow: none;

    &:focus {
      border-color: $state-warning-bg;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px rgba($state-warning-bg, .6);
    }
  }

  .form-control-feedback {
    color: $state-warning-bg;
  }

  .checkbox,
  .control-label {
    color: $state-warning-bg;
  }
}

.has-success {

  .form-control {
    border-color: $state-success-bg;

    &:focus {
      border-color: $state-success-bg;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px rgba($state-success-bg, .6);
    }
  }

  .form-control-feedback {
    color: $state-success-bg;
  }

  .checkbox,
  .control-label {
    color: $state-success-bg;
  }

  .input-group-addon {
    border-color: $state-success-bg;
    color: $white;
  }
}

.control-group abbr[title],
.form-group abbr[title] {
  border-bottom: 0;
}

.form-control {
  box-shadow: none;

  &:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  }

  &.placeholder {
    color: $input-color-placeholder;
  }
}

.input-group .input-group-addon:before {
  padding: 0 0 5px 0;
}

.form-inline {

  .control-label {
    margin-right: 5px;
  }

  .form-control {
    margin-right: 10px;
  }

  .input-group {
    margin-bottom: 0;
  }
}

.select2 {
  width: 100%;
}

.datetime-widget select[size], .time-widget select[size] {
  height: 34px;
}

.date-widget .faked-button {
  color: #555;
}

label abbr[title] {
  border: 0;
}

.datetime-widget select[size], .time-widget select[size] {
  height: 34px;
}

.date-widget .faked-button {
  color: #555;
}

.popover {
  max-width: none;
  width: 250px;
}

@media (min-width: $screen-md-min) {

  .popover {
    width: 300px;
  }
}
