label abbr[title],
label abbr[data-original-title] {
  border: 0;
}

.form-control {
  &,
  &:focus {
    box-shadow: none;
  }
}

input:focus:invalid:focus {
  box-shadow: none;
}

.control-label {
  color: #7093c3;
}

.form-horizontal {
  .has-feedback .form-control-feedback {
    margin-top: -7px;
    top: 50%;
  }

  .checkbox {
    margin-bottom: 20px;
  }
}
