.has-success {

  .form-control {
    border-color: $state-success-bg;
  }
}

.has-warning {

  .form-control {
    border-color: $state-warning-bg;
    background-color: #fff;
  }
}

.has-error {
  
  .form-control {
    background: $state-danger-bg;
  }
}
