.bg-primary,
.bg-success,
.bg-info,
.bg-warning,
.bg-danger {
  color: $white;
}

.text-success {
  color: $state-success-bg;
}

.text-warning {
  color: $state-warning-bg;
}

.text-danger {
  color: $state-danger-bg;
}

.helper-classes-bg p {
  padding: 15px;
}
