// Ajax spinner
#ajaxSpinner {
  display: none;
}

.logo {
  background-color: $brand-danger;
  background-position: center center;
  background-size: 100px auto;
  display: block;
  height: 165px;
}

