// Ajax spinner
#ajaxSpinner {
  display: none;
}

.logo {
  background-color: $brand-danger;
  background-position: center center;
  background-size: 100px auto;
  display: block;
  height: 165px;
}

// pre and code blocks
pre,
code {
  ol,
  ul {
    margin-bottom: 0;
    margin-left: 40px;
  }
}

.well {
  border-width: 2px;
  box-shadow: none;
}

