.logo {
  background-position: center center;
  background-size: auto 50px;
  color: $white;
  display: block;
  min-height: 100px;
}

.logo-application {
  background: url('/assets/images/logo-application.svg') no-repeat;
}

.wrapper-brand {
  background-color: $brand-primary;
  padding: 20px;

  .logo img {
    margin: 0 auto;
  }
}

.navbar {
  border: 0;
  margin-bottom: 0;
  z-index: 9999999;
}

.navbar-default {

  .navbar-brand {
    background-color: $navbar-default-bg;
    font-style: normal;
    font-weight: normal;

    &:hover {
      background-color: $navbar-default-bg;
      color: $gray-dark;
    }
  }

  .navbar-header {
    background-color: $navbar-default-bg;
  }
}

.navbar-toggle {
  border: 0;

  .icon-bar {
    border-radius: 6px;
    height: 4px;
    width: 26px;
  }
}

.main-menu {

  .navbar-default {

    .navbar-brand {
      background-color: transparent;
      color: $gray-light;
    }

    .navbar-header {
      background-color: $white;
    }
  }

  .navbar-collapse {

    .nav {
      margin-bottom: 0;
      margin-top: 0;
    }

    .menu-item {
      border-left: 10px transparent solid;
      color: $gray;
      font-style: normal;
      font-weight: bold;
      padding: 12px 50px 12px 10px;

      &:hover,
      &:focus {
        background-color: transparent;
        border-left: 10px $brand-primary solid;
        color: $gray;
      }
    }

    li {
      border-top: 1px $gray-lines solid;
    }

    .dropdown-menu {
      margin: 0;
      padding: 0;
      position: relative;
      top: auto;
      float: none;
      border: none;

      li a {
        color: $gray-light;
        font-style: normal;
        font-weight: 600;
        margin-left: 10px;
        padding: 7px 20px;
      }
    }

    .icon-angle {
      margin-top: -8px;
      position: absolute;
      right: 15px;
      top: 50%;
      transform-origin: 4px 50%;
      transition: 300ms;
    }

    .open {

      .dropdown-menu {
        padding-bottom: 0;
        padding-top: 0;
        position: relative;

        .current .sub-menu-item,
        li a:hover {
          background-color: $brand-primary;
          color: $white;
        }
      }
    }

    .active {

      & > a,
      & > li,
      & > .dropdown-toggle:focus,
      & > .dropdown-toggle:hover {
        background-color: transparent;
        border-left: 10px $brand-primary solid;
      }

      .menu-item {
        color: $gray;

        &:hover,
        &:focus {
          color: $gray;
        }
      }

      .icon-angle {
        transform: rotate(90deg);
        transition: 300ms;
      }
    }
  }
}

@media (min-width: $screen-sm-min) {
  .logo {
    background-size: 80% auto;
  }

  .wrapper-brand {
    padding: 20px;
  }

  .main-menu {
    background-color: $navbar-default-bg;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    height: 100%;
    left: 0;
    overflow-x: auto;
    position: fixed;
    width: 235px;
    z-index: 999999;
    -ms-overflow-style: none;

    .navbar-header {
      float: left;
      width: 235px;
    }

    ul,
    li {
      width: 100%;
    }

    ul {
      border: 0;
    }

    .dropdown.first {
      border-top: 0;
    }

    .navbar-collapse {
      padding-left: 0;
      padding-right: 0;

      .dropdown-menu {

        li a {
          padding: 7px 20px;
        }
      }
    }
  }
}
