#main-menu {
  .logo {
    height: 55px;
    padding: 3px;
  }

  .icon-logo-application {

  }
}

@media (min-width: $screen-sm-min) {
  #main-menu {
    width: 235px;
    position: fixed;
    left: 0;
    height: 100%;


    .navbar-header {
      width: 235px;
      float: left;
    }
  }
}
