.header-title .progress {
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  height: auto;
  margin-bottom: 0;
  overflow: visible;

  .progress-bar {
    //background-size: 100px 100px;
    background-color: lighten($brand-primary, 30%);
    text-align: left;
    width: 100%;
  }

  &.active .progress-bar {
    animation: loadingProgressBar 2s linear 0s infinite;
  }
}

@media screen and (min-width: $screen-sm) {
  .header-title .progress .progress-bar {
    width: 100%;
  }
}

@keyframes loadingProgressBar {
  from { background-position: 100px 0; }
  to { background-position: 0 0; }
}

