// Progress bar for loading stuff
.progress {
  border-radius: 0;
  margin-bottom: 0;
  overflow: visible;

  .progress-bar {
    background-size: 100px 100px;
    text-align: left;
    width: 100%;
  }

  &.active .progress-bar {
    animation: loadingProgressBar 2s linear 0s infinite;
  }
}

// Media query min-width 767px
@media screen and (min-width: 767px) {
  .progress .progress-bar {
    width: 100%;
  }
}
