.searchBox {
  position: relative;

  form {
    margin-bottom: 0;
  }

  #searchQuery {
    -webkit-appearance: none;
    background: #2c2d34;
    border: 0;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    height: 65px;
    margin-bottom: 0;
    padding-right: 40px;
    transition: background 250ms;
    width: 100%;

    &:focus {
      background: lighten(#2c2d34, 10%);
      border: 0;
      box-shadow: none;
      outline: none;
    }
  }

  .btn {
    background-color: #2c2d34;
    border-radius: 0;
    height: 65px;
    position: absolute;
    right: 0;
    top: 0;
  }

  .icon-search {
    background-position: center center;
    background-size: 20px auto;
    display: block;
    height: 100%;
    width: 20px;
  }
}

// Media query min-width 767px
@media screen and (min-width: 767px) {
  .searchBox {
    width: 265px;

    #searchQuery {
      height: 50px;
    }

    .btn {
      height: 50px;
    }
  }
}

// Media query min-width 1025px
@media screen and (min-width: 1025px) {
  .searchBox {
    position: fixed;
    bottom: 0;
  }
}
