.table {
  color: $gray;
  font-family: $font-family-sans-serif;

  .success,
  .info,
  .warning,
  .danger {
    color: $white;
  }

  .active {
    background-color: $dropdown-bg;
  }
}

th {
  color: $gray-darker;
  font-style: normal;
  font-weight: 600;
}
