.content a:focus {
  background-color: shade($gray-lightest, 10%);
  border-radius: 3px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 100;
  margin-bottom: 12px;
}

h1,
h2 {
  line-height: 1.2;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h4,
h5,
h6 {
  font-weight: 600;
  margin-bottom: 10.5px;
}

h3,
h4,
h5,
h6 {
  color: #8d94ab;
}

h1 {
  color: $gray-dark;
}

h2 {
  color: #577385;
}

h4 {
  margin-bottom: 10.5px;
}

@media screen and (min-width: 767px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 15px;
  }
}

@media screen and (min-width: 1025px) {
  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 27px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }
}

.text-info {
  color: #6b798d;
}


