security:
    encoders:
        FOS\UserBundle\Model\UserInterface: sha512

    role_hierarchy:
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPER_ADMIN: ROLE_ADMIN

    providers:
        fos_userbundle:
            id: fos_user.user_provider.username_email

    firewalls:
        main:
            pattern: ^/
            form_login:
                provider:       fos_userbundle
                csrf_provider:  form.csrf_provider
                login_path:     fos_user_security_login
                check_path:     fos_user_security_check
            logout:
                path: fos_user_security_logout
                target: fos_user_security_login
            anonymous: true
        dev:
            pattern:  ^/(_(profiler|wdt)|css|images|js)/
            security: false

    access_control:
        - { path: ^/\w\w/user/login, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/\w\w/user/request, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/\w\w/user/send-email, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/\w\w/user/check-email, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/\w\w/user/reset, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/(_(profiler|wdt))/, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/, role: ROLE_USER }
