*[class*=icon-]:before {
  @extend .icon;
}

.icon-remove {
  color: #ee360c;
}

// No items message
.noItems {
  color: #c8c9d2;
  font-size: $font-size-base * 1.71;
  font-weight: bold;
  padding-bottom: 30px;
  text-align: center;
}

