<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="bootstrap.php.cache"
>
    <testsuites>
        <testsuite name="unit">
            <directory>../src/*/*Bundle/Tests</directory>
            <directory>../src/*/Bundle/*Bundle/Tests</directory>
            <directory>../src/*Bundle/Tests</directory>
            <!-- Don't forget to add your bundle below, as globs don't work on excludes :-(
            <exclude>../src/*/*Bundle/Tests/Controller</exclude>
            <exclude>../src/*/Bundle/*Bundle/Tests/Controller</exclude>
            <exclude>../src/*Bundle/Tests/Controller</exclude>
            -->
        </testsuite>
        <testsuite name="controller">
            <directory>../src/*/*Bundle/Tests/Controller</directory>
            <directory>../src/*/Bundle/*Bundle/Tests/Controller</directory>
            <directory>../src/*Bundle/Tests/Controller</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>../src</directory>
            <exclude>
                <directory>../src/*Bundle/Resources</directory>
                <directory>../src/*Bundle/Tests</directory>
                <directory>../src/*/*Bundle/Resources</directory>
                <directory>../src/*/*Bundle/Tests</directory>
                <directory>../src/*/Bundle/*Bundle/Resources</directory>
                <directory>../src/*/Bundle/*Bundle/Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
