// Buttons

table.button,
table.tiny-button,
table.small-button,
table.medium-button,
table.large-button {
  overflow: hidden;
  width: 100%;
}

table.button td,
table.tiny-button td,
table.small-button td,
table.medium-button td,
table.large-button td {
  background: $btn-default-bg;
  border: 1px solid $btn-default-border;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: $btn-default-color;
  display: block;
  line-height: initial !important;
  padding: $padding-base-horizontal 0;
  text-align: center;
  width: auto !important;
}

table.tiny-button td {
  padding: $padding-xs-vertical 0;
}

table.small-button td {
  padding: $padding-small-vertical 0;
}

table.medium-button td {
  padding: $padding-base-vertical 0;
}

table.large-button td {
  padding: $padding-large-vertical 0;
}

table.button td a,
table.tiny-button td a,
table.small-button td a,
table.medium-button td a,
table.large-button td a {
  color: $btn-default-color;
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $font-size-base;
  font-weight: bold;
  height: 100%;
  text-decoration: none;
  width: 100%;
}

table.tiny-button td a {
  font-size: $font-size-small;
  font-weight: normal;
}

table.small-button td a {
  font-size: $font-size-small;
}

table.medium-button td a {
  font-size: $font-size-base;
}

table.large-button td a {
  font-size: $font-size-large;
}

table.button:hover td,
table.button:visited td,
table.button:active td {
  background: $btn-default-bg !important;
}

table.button:hover td a,
table.button:visited td a,
table.button:active td a {
  color: $brand-primary !important;
}

table.button:hover td,
table.tiny-button:hover td,
table.small-button:hover td,
table.medium-button:hover td,
table.large-button:hover td {
  background: $brand-primary !important;
}

table.button:hover td a,
table.button:active td a,
table.button td a:visited,
table.tiny-button:hover td a,
table.tiny-button:active td a,
table.tiny-button td a:visited,
table.small-button:hover td a,
table.small-button:active td a,
table.small-button td a:visited,
table.medium-button:hover td a,
table.medium-button:active td a,
table.medium-button td a:visited,
table.large-button:hover td a,
table.large-button:active td a,
table.large-button td a:visited {
  color: $btn-default-color !important;
}

table.secondary td {
  background: $gray-lighter;
  border-color: $gray-lines;
  color: $gray;
}

table.secondary td a {
  color: $gray;
}

table.secondary:hover td {
  background: $gray-light !important;
  color: $gray;
}

table.secondary:hover td a,
table.secondary td a:visited,
table.secondary:active td a {
  color: $gray !important;
}

table.success td {
  background: $btn-success-bg;
  border-color: $btn-success-border;
}

table.success:hover td {
  background: darken($btn-success-bg, 15%) !important;
}

table.alert td {
  background: $btn-danger-bg;
  border-color: $btn-danger-border;
}

table.alert:hover td {
  background: darken($btn-danger-bg, 15%) !important;
}

table.radius td {
  -moz-border-radius: $border-radius-base;
  -webkit-border-radius: $border-radius-base;
  border-radius: $border-radius-base;
}

table.round td {
  -moz-border-radius: $min-width;
  -webkit-border-radius: $min-width;
  border-radius: $min-width;
}
