// Buttons

table.button,
table.tiny-button,
table.small-button,
table.medium-button,
table.large-button {
  overflow: hidden;
  width: 100%;
}

table.button td,
table.tiny-button td,
table.small-button td,
table.medium-button td,
table.large-button td {
  background: theme-color('primary');
  border: 1px solid theme-color('primary');
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: $white;
  display: block;
  line-height: initial !important;
  padding: 12px 0;
  text-align: center;
  width: auto !important;
}

table.tiny-button td {
  padding: 1px 0;
}

table.small-button td {
  padding: 5px 0;
}

table.medium-button td {
  padding: 6px 0;
}

table.large-button td {
  padding: 10px 0;
}

table.button td a,
table.tiny-button td a,
table.small-button td a,
table.medium-button td a,
table.large-button td a {
  color: theme-color('primary');
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $font-size-base;
  font-weight: bold;
  height: 100%;
  text-decoration: none;
  width: 100%;
}

table.tiny-button td a {
  font-size: 12px;
  font-weight: normal;
}

table.small-button td a {
  font-size: 12px;
}

table.medium-button td a {
  font-size: 14px;
}

table.large-button td a {
  font-size: 18px;
}

table.button:hover td,
table.button:visited td,
table.button:active td {
  background: theme-color('primary') !important;
}

table.button:hover td a,
table.button:visited td a,
table.button:active td a {
  color: theme-color('primary') !important;
}

table.button:hover td,
table.tiny-button:hover td,
table.small-button:hover td,
table.medium-button:hover td,
table.large-button:hover td {
  background: theme-color('primary') !important;
}

table.button:hover td a,
table.button:active td a,
table.button td a:visited,
table.tiny-button:hover td a,
table.tiny-button:active td a,
table.tiny-button td a:visited,
table.small-button:hover td a,
table.small-button:active td a,
table.small-button td a:visited,
table.medium-button:hover td a,
table.medium-button:active td a,
table.medium-button td a:visited,
table.large-button:hover td a,
table.large-button:active td a,
table.large-button td a:visited {
  color: theme-color('primary') !important;
}

table.secondary td {
  background: $gray-100;
  border-color: gray-400;
  color: $black;
}

table.secondary td a {
  color: $black;
}

table.secondary:hover td {
  background: $gray-100 !important;
  color: $black;
}

table.secondary:hover td a,
table.secondary td a:visited,
table.secondary:active td a {
  color: $black !important;
}

table.success td {
  background: theme-color('success');
  border-color: theme-color('success');
}

table.success:hover td {
  background: darken(theme-color('success'), 15%) !important;
}

table.alert td {
  background: theme-color('danger');
  border-color: theme-color('danger');
}

table.alert:hover td {
  background: darken(theme-color('danger'), 15%) !important;
}

table.radius td {
  -moz-border-radius: $border-radius;
  -webkit-border-radius: $border-radius;
  border-radius: $border-radius;
}

table.round td {
  -moz-border-radius: $min-width;
  -webkit-border-radius: $min-width;
  border-radius: $min-width;
}
