// Responsive Grid
table.body {
  height: 100%;
  width: 100%;
}

table.container {
  margin: 0 auto;
  text-align: inherit;
  width: $min-width;

  table.row {
    display: block;
  }
}

table.row {
  padding: 0;
  position: relative;
  width: 100%;
}

td.wrapper {
  padding: $padding-base-vertical $padding-base-horizontal;
  position: relative;
}

table.columns,
table.column {
  margin: 0 auto;
}

table.columns td,
table.column td {
  padding: 0 0 10px;
}

table.columns td.sub-columns,
table.column td.sub-columns,
table.columns td.sub-column,
table.column td.sub-column {
  padding-right: 10px;
}

td.sub-column,
td.sub-columns {
  min-width: 0;
}

table.row td.last,
table.container td.last {
  padding-right: 0;
}

table.one {
  width: floor($min-width / 12 * 1);

  center {
    min-width: floor($min-width / 12 * 1);
  }

  .panel center {
    min-width: floor($min-width / 12 * 1 - ($padding-base-horizontal * 2));
  }
}

table.two {
  width: floor($min-width / 12 * 2);

  center {
    min-width: floor($min-width / 12 * 2);
  }

  .panel center {
    min-width: floor($min-width / 12 * 2 - ($padding-base-horizontal * 2));
  }
}

table.three {
  width: floor($min-width / 12 * 3);

  center {
    min-width: floor($min-width / 12 * 3);
  }

  .panel center {
    min-width: floor($min-width / 12 * 3 - ($padding-base-horizontal * 2));
  }
}

table.four {
  width: floor($min-width / 12 * 4);

  center {
    min-width: floor($min-width / 12 * 4);
  }

  .panel center {
    min-width: floor($min-width / 12 * 4 - ($padding-base-horizontal * 2));
  }
}

table.five {
  width: floor($min-width / 12 * 5);

  center {
    min-width: floor($min-width / 12 * 5);
  }

  .panel center {
    min-width: floor($min-width / 12 * 5 - ($padding-base-horizontal * 2));
  }
}

table.six {
  width: floor($min-width / 12 * 6);

  center {
    min-width: floor($min-width / 12 * 6);
  }

  .panel center {
    min-width: floor($min-width / 12 * 6 - ($padding-base-horizontal * 2));
  }
}

table.seven {
  width: floor($min-width / 12 * 7);

  center {
    min-width: floor($min-width / 12 * 7);
  }

  .panel center {
    min-width: floor($min-width / 12 * 7 - ($padding-base-horizontal * 2));
  }
}

table.eight {
  width: floor($min-width / 12 * 8);

  center {
    min-width: floor($min-width / 12 * 8);
  }

  .panel center {
    min-width: floor($min-width / 12 * 8 - ($padding-base-horizontal * 2));
  }
}

table.nine {
  width: floor($min-width / 12 * 9);

  center {
    min-width: floor($min-width / 12 * 9);
  }

  .panel center {
    min-width: floor($min-width / 12 * 9 - ($padding-base-horizontal * 2));
  }
}

table.ten {
  width: floor($min-width / 12 * 10);

  center {
    min-width: floor($min-width / 12 * 10);
  }

  .panel center {
    min-width: floor($min-width / 12 * 10 - ($padding-base-horizontal * 2));
  }
}

table.eleven {
  width: floor($min-width / 12 * 11);

  center {
    min-width: floor($min-width / 12 * 11);
  }

  .panel center {
    min-width: floor($min-width / 12 * 11 - ($padding-base-horizontal * 2));
  }
}

table.twelve {
  width: $min-width;

  center {
    min-width: $min-width;
  }

  .panel center {
    min-width: $min-width - ($padding-base-horizontal * 2);
  }
}

.body .columns td.one,
.body .column td.one {
  width: 8.333333%;
}

.body .columns td.two,
.body .column td.two {
  width: 16.666666%;
}

.body .columns td.three,
.body .column td.three {
  width: 25%;
}

.body .columns td.four,
.body .column td.four {
  width: 33.333333%;
}

.body .columns td.five,
.body .column td.five {
  width: 41.666666%;
}

.body .columns td.six,
.body .column td.six {
  width: 50%;
}

.body .columns td.seven,
.body .column td.seven {
  width: 58.333333%;
}

.body .columns td.eight,
.body .column td.eight {
  width: 66.666666%;
}

.body .columns td.nine,
.body .column td.nine {
  width: 75%;
}

.body .columns td.ten,
.body .column td.ten {
  width: 83.333333%;
}

.body .columns td.eleven,
.body .column td.eleven {
  width: 91.666666%;
}

.body .columns td.twelve,
.body .column td.twelve {
  width: 100%;
}

td.offset-by-one {
  padding-left: floor($min-width / 12 * 1 - ($padding-base-horizontal * 3));
}

td.offset-by-two {
  padding-left: floor($min-width / 12 * 2 - ($padding-base-horizontal * 3));
}

td.offset-by-three {
  padding-left: floor($min-width / 12 * 3 - ($padding-base-horizontal * 3));
}

td.offset-by-four {
  padding-left: floor($min-width / 12 * 4 - ($padding-base-horizontal * 3));
}

td.offset-by-five {
  padding-left: floor($min-width / 12 * 5 - ($padding-base-horizontal * 3));
}

td.offset-by-six {
  padding-left: floor($min-width / 12 * 6 - ($padding-base-horizontal * 3));
}

td.offset-by-seven {
  padding-left: floor($min-width / 12 * 7 - ($padding-base-horizontal * 3));
}

td.offset-by-eight {
  padding-left: floor($min-width / 12 * 8 - ($padding-base-horizontal * 3));
}

td.offset-by-nine {
  padding-left: floor($min-width / 12 * 9 - ($padding-base-horizontal * 3));
}

td.offset-by-ten {
  padding-left: floor($min-width / 12 * 10 - ($padding-base-horizontal * 3));
}

td.offset-by-eleven {
  padding-left: floor($min-width / 12 * 11 - ($padding-base-horizontal * 3));
}

td.expander {
  padding: 0 !important;
  visibility: hidden;
  width: 0;
}

table.columns .text-pad,
table.column .text-pad {
  padding-left: $padding-base-horizontal;
  padding-right: $padding-base-horizontal;
}

table.columns .left-text-pad,
table.columns .text-pad-left,
table.column .left-text-pad,
table.column .text-pad-left {
  padding-left: $padding-base-horizontal;
}

table.columns .right-text-pad,
table.columns .text-pad-right,
table.column .right-text-pad,
table.column .text-pad-right {
  padding-right: $padding-base-horizontal;
}

@media only screen and (max-width: 600) {
  table[class="body"] img {
    max-height: auto !important;
    max-width: auto !important;
  }

  table[class="body"] center {
    min-width: 0 !important;
  }

  table[class="body"] .container {
    width: 95% !important;
  }

  table[class="body"] .row {
    display: block !important;
    width: 100% !important;
  }

  table[class="body"] .wrapper {
    display: block !important;
    padding-right: 0 !important;
  }

  table[class="body"] .columns,
  table[class="body"] .column {
    display: block !important;
    float: none !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    table-layout: fixed !important;
    width: 100% !important;
  }

  table[class="body"] .wrapper.first .columns,
  table[class="body"] .wrapper.first .column {
    display: table !important;
  }

  table[class="body"] table.columns td,
  table[class="body"] table.column td {
    width: 100% !important;
  }

  table[class="body"] .columns td.one,
  table[class="body"] .column td.one {
    width: 8.333333% !important;
  }

  table[class="body"] .columns td.two,
  table[class="body"] .column td.two {
    width: 16.666666% !important;
  }

  table[class="body"] .columns td.three,
  table[class="body"] .column td.three {
    width: 25% !important;
  }

  table[class="body"] .columns td.four,
  table[class="body"] .column td.four {
    width: 33.333333% !important;
  }

  table[class="body"] .columns td.five,
  table[class="body"] .column td.five {
    width: 41.666666% !important;
  }

  table[class="body"] .columns td.six,
  table[class="body"] .column td.six {
    width: 50% !important;
  }

  table[class="body"] .columns td.seven,
  table[class="body"] .column td.seven {
    width: 58.333333% !important;
  }

  table[class="body"] .columns td.eight,
  table[class="body"] .column td.eight {
    width: 66.666666% !important;
  }

  table[class="body"] .columns td.nine,
  table[class="body"] .column td.nine {
    width: 75% !important;
  }

  table[class="body"] .columns td.ten,
  table[class="body"] .column td.ten {
    width: 83.333333% !important;
  }

  table[class="body"] .columns td.eleven,
  table[class="body"] .column td.eleven {
    width: 91.666666% !important;
  }

  table[class="body"] .columns td.twelve,
  table[class="body"] .column td.twelve {
    width: 100% !important;
  }

  table[class="body"] td.offset-by-one,
  table[class="body"] td.offset-by-two,
  table[class="body"] td.offset-by-three,
  table[class="body"] td.offset-by-four,
  table[class="body"] td.offset-by-five,
  table[class="body"] td.offset-by-six,
  table[class="body"] td.offset-by-seven,
  table[class="body"] td.offset-by-eight,
  table[class="body"] td.offset-by-nine,
  table[class="body"] td.offset-by-ten,
  table[class="body"] td.offset-by-eleven {
    padding-left: 0 !important;
  }

  table[class="body"] table.columns td.expander {
    width: 1px !important;
  }

  table[class="body"] .right-text-pad,
  table[class="body"] .text-pad-right {
    padding-left: $padding-base-horizontal !important;
  }

  table[class="body"] .left-text-pad,
  table[class="body"] .text-pad-left {
    padding-right: $padding-base-horizontal !important;
  }

  table[class="body"] .hide-for-small,
  table[class="body"] .show-for-desktop {
    display: none !important;
  }

  table[class="body"] .show-for-small,
  table[class="body"] .hide-for-desktop {
    display: block !important;
    overflow: visible !important;
    width: auto !important;
  }
}
