// Block Grid

.block-grid {
  max-width: $min-width;
  width: 100%;

  td {
    display: inline-block;
    padding: 6px 12px;
  }
}

.two-up td {
  width: floor($min-width / 2 - (12px * 2));
}

.three-up td {
  width: floor($min-width / 3 - (12px * 2));
}

.four-up td {
  width: floor($min-width / 4 - (12px * 2));
}

.five-up td {
  width: floor($min-width / 5 - (12px * 2));
}

.six-up td {
  width: floor($min-width / 6 - (12px * 2));
}

.seven-up td {
  width: floor($min-width / 7 - (12px * 2));
}

.eight-up td {
  width: floor($min-width / 8 - (12px * 2));
}
