td.logo {
  padding-bottom: 10px * 3;
  padding-top: 10px * 3;
}

td.banner {
  background-color: theme-color('primary');
  border: 1px solid theme-color('primary');

  table.columns td {
    padding-bottom: 0 !important;
  }
}

table.main {
  border: 1px solid $gray-700;
  margin-bottom: 10px * 3;
}

table.content {
  p {
    padding-bottom: 6px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1 {
  color: $white;
}
