# Framework configuration
framework:
  translator: { fallback: "%locale%" }
  secret:     "%secret%"
  http_method_override: true
  csrf_protection: ~
  form:            ~
  session:
    handler_id:  ~
    save_path: "%kernel.root_dir%/sessions/"
  router:
    resource: "%kernel.root_dir%/config/routing.yml"
    strict_requirements: ~
  validation: { enable_annotations: true }
  templating:
    engines: ['twig']
    assets_version_format: '%%s?v=%%s'
  default_locale:  "%locale%"
  trusted_hosts:   ~
  trusted_proxies: ~
  fragments:       ~

# Twig Configuration
twig:
  debug:  %kernel.debug%
  strict_variables: %kernel.debug%
  globals:
    fallbacks: "@framework.fallbacks"
    jsData: "@framework.jsData"
    locales: %locales%
  form_themes:
    - 'SumoCodersFrameworkCoreBundle:Form:fields.html.twig'

# Assetic Configuration
assetic:
  debug:  "%kernel.debug%"
  workers:
    cache_busting: ~
  filters:
    cssrewrite: ~

# Doctrine Configuration
doctrine:
  dbal:
    driver:   "%database_driver%"
    host:     "%database_host%"
    port:     "%database_port%"
    dbname:   "%database_name%"
    user:     "%database_user%"
    password: "%database_password%"
    charset:  UTF8

  orm:
    auto_generate_proxy_classes: "%kernel.debug%"
    auto_mapping: true

doctrine_migrations:
    dir_name: %kernel.root_dir%/migrations
    namespace: SumoCodersFramework\Migrations
    table_name: migration_versions
    name: Application Migrations

# I18n Configuration
jms_i18n_routing:
  default_locale: "%locale%"
  locales: ~
  strategy: prefix

# Mopa Configuration
mopa_bootstrap:
  form:
    show_legend: false
    render_required_asterisk: true
    render_optional_text: false
  icons:
    icon_set: fontawesome4

# KPN Pagination Configuration
knp_paginator:
  template:
    pagination: MopaBootstrapBundle:Pagination:sliding.html.twig
    sortable: MopaBootstrapBundle:Pagination:sortable_link.html.twig
