services:
  framework.fallbacks:
    class:  SumoCoders\FrameworkCoreBundle\Service\Fallbacks
    arguments: [%fallbacks%]
  framework.jsdata:
    class: SumoCoders\FrameworkCoreBundle\Service\JsData
    calls:
      - [setRequestStack, ["@request_stack"]]
  framework.menu_builder:
    class: SumoCoders\FrameworkCoreBundle\Menu\MenuBuilder
    calls:
      - [setFactory, ["@knp_menu.factory"]]
      - [setEventDispatcher, ["@event_dispatcher"]]
  framework.menu.main:
    class: Kpn\Menu\MenuItem
    factory_service: framework.menu_builder
    factory_method: createMainMenu
    arguments:
      - @request
    scope: request
    tags:
      - { name: knp_menu.menu, alias: main }
  twig.framework_extension:
    class: SumoCoders\FrameworkCoreBundle\Twig\FrameworkExtension
    arguments:
      - @service_container
    tags:
      - { name: twig.extension }

# Framework configuration
framework:
  translator: { fallback: "%locale%" }
  secret:     "%secret%"
  http_method_override: true
  csrf_protection: ~
  form:            ~
  session:
    handler_id:  ~
    save_path: "%kernel.root_dir%/sessions/"
  router:
    resource: "%kernel.root_dir%/config/routing.yml"
    strict_requirements: ~
  validation: { enable_annotations: true }
  templating:
    engines: ['twig']
    assets_version_format: '%%s?v=%%s'
  default_locale:  "%locale%"
  trusted_hosts:   ~
  trusted_proxies: ~
  fragments:       ~

# Twig Configuration
twig:
  debug:  %kernel.debug%
  strict_variables: %kernel.debug%
  globals:
    fallbacks: "@framework.fallbacks"
    jsData: "@framework.jsData"

# Assetic Configuration
assetic:
  debug:  "%kernel.debug%"
  workers:
    cache_busting: ~
  filters:
    cssrewrite: ~

# Doctrine Configuration
doctrine:
  dbal:
    driver:   "%database_driver%"
    host:     "%database_host%"
    port:     "%database_port%"
    dbname:   "%database_name%"
    user:     "%database_user%"
    password: "%database_password%"
    charset:  UTF8

  orm:
    auto_generate_proxy_classes: "%kernel.debug%"
    auto_mapping: true

# I18n Configuration
jms_i18n_routing:
  default_locale: "%locale%"
  locales: ~
  strategy: prefix

# Mopa Configuration
mopa_bootstrap:
  form:
    show_legend: false

# KPN Pagination Configuration
knp_paginator:
  template:
    pagination: MopaBootstrapBundle:Pagination:sliding.html.twig
    sortable: MopaBootstrapBundle:Pagination:sortable_link.html.twig
