.icon-profile {
  background-size: 26px auto;
  display: inline-block;
  height: 26px;
  margin-bottom: -6px;
  width: 26px;
}

.icon-remove {
  color: #ee360c;
}
// No items message

.noItems {
  @include font-size(1.71 * $baseFont);
  color: #c8c9d2;
  font-family: $opensans-bold-webfont;
  text-align: center;
  padding-bottom: 30px;
}

