/**
 * Defining typography
 */

a {
  border-bottom: 1px solid $textLinkColor;

  &:hover {
    border-bottom: 1px solid $textLinkColorHover;
  }

  &.iconLink,
  &.iconLink:hover {
    border: 0;
  }
}

.content a {
  border-bottom: 1px solid $textLinkColor;
  color: $textLinkColor;
  padding: 1px;

  &:visited {
    border: 0;
    color: darken($textLinkColor, 7%);
  }

  &:hover {
    border-bottom: 1px solid $textLinkColorHover;
    color: $textLinkColorHover;
    text-decoration: none;
    transition-duration: 500ms;
    transition-property: 'color, border';
    transition-timing-function: ease-in;
  }

  &:active {
    color: $textLinkColor;
  }

  &:focus {
    background-color: shade($gray-lighter, 10%);
    border-radius: 3px;
    color: $textLinkColorHover;
    transition-duration: 500ms;
    transition-property: background;
    transition-timing-function: ease-in;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 100;
  margin-bottom: 12px;
}

h1,
h2 {
  line-height: 1.2;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h4,
h5,
h6 {
  font-weight: 600;
  margin-bottom: 10.5px;
}

h3,
h4,
h5,
h6 {
  color: #8d94ab;
}

h1 {
  color: #464242;
}

h2 {
  color: #577385;
}

h3 {
  color: #8d94ab;
}

h4 {
  margin-bottom: 10.5px;
}

@media screen and (min-width: 767px) {
  h1 {
    @include font-size(28);
  }

  h2 {
    @include font-size(24);
  }

  h3 {
    @include font-size(20);
  }

  h4 {
    @include font-size(18);
  }

  h5 {
    @include font-size(15);
  }
}

@media screen and (min-width: 1025px) {
  h1 {
    @include font-size(34);
  }

  h2 {
    @include font-size(27);
  }

  h3 {
    @include font-size(21);
  }

  h4 {
    @include font-size(20);
  }

  h5 {
    @include font-size(18);
  }
}

.text-info {
  color: #6b798d;
}


