.main-content {
  padding: 40px 20px;
}

.sub-nav {
  border-radius: 0;
  font-family: $font-family-sans-serif;
  font-weight: 600;
  font-style: normal;
  height: 55px;
  margin-bottom: 0;
  width: 100%;

  .breadcrumb {
    border-bottom: 1px $gray-lightest solid;
    float: left;
    margin: 0;
    padding: 14px 15px;
    width: 100%;

    li:active {
      color: $breadcrumb-active-color;
    }
    a {
      color: $breadcrumb-color;
    }
  }

  .user-nav {

    .open > .btn-default.dropdown-toggle {
      background-color: $gray-dark;
      color: $white;
    }
    .btn-group.open .dropdown-toggle {
      box-shadow: none;
    }

    .btn-group {

      .btn {
        padding: 8px 15px;
        border-radius: 0;
        margin: 0;


        .icon-avatar {
          font-size: $font-size-h1;
          padding-bottom: 5px;
        }
      }

      .btn-default {
        color: $gray-light;
      }

      .dropdown-menu {
        background-color: $gray-darker;
        border-radius: 0;
        border: 0;
        margin: 0;

        li a {
          color: $white;

          &:hover {
            background-color: lighten($gray-dark, 0.5%);
          }
        }
      }
    }
  }
}

.header-title {
  overflow: hidden;
  padding: 15px 10px;

  h2 {
    margin: 15px;
  }
}

.actions {
  background-color: $dropdown-bg;
  box-shadow: 2px 0 2px rgba(0,0,0,0.2);
  display: block;
  min-height: 50px;
  padding: 10px 15px;

  .btn-info {
    background-color: $brand-info;
    border-color: transparent;
  }
}


@media (min-width: $screen-sm-min) {
  #main-wrapper {
    padding-left: 235px;
    width: 100%;
    overflow: hidden;
  }
  .navbar-collapse {
    padding-right: 0;
  }

  .main-header {
    left: 0;
    padding-left: 235px;
    position: fixed;
    width: 100%;
  }

  .sub-nav {
    border-radius: 0;
    border-bottom: 5px $brand-primary solid;

    .breadcrumb {
      float: left;
      margin: 0;
      padding: 14px 20px;

      li:active {
        color: $breadcrumb-active-color;
      }
      a {
        color: $breadcrumb-color;
      }
    }

    .user-nav {

      .open > .btn-default.dropdown-toggle {
        background-color: $gray-dark;
        color: $white;
      }
      .btn-group.open .dropdown-toggle {
        box-shadow: none;
      }

      .btn-group {

        .btn {
          padding: 8px 25px;
          border-radius: 0;
          margin: 0;

          .icon-avatar {
            font-size: $font-size-h1;
            padding-bottom: 5px;
          }
        }

        .btn-default {
          color: $gray-light;
        }

        .dropdown-menu {
          background-color: $gray-darker;
          border-radius: 0;
          border: 0;
          margin: 0;

          li a {
            color: $white;

            &:hover {
              background-color: lighten($gray-dark, 0.5%);
            }
          }
        }
      }
    }
  }

  .header-title {
    padding: 60px 5px 5px;
  }

  .actions {
    background-color: $dropdown-bg;
    box-shadow: 2px 0 2px rgba(0,0,0,0.2);
    display: block;
    height: 50px;
    padding: 10px 15px;

    .action-buttons {
      float: right;
    }
  }
}

