body {
  &.login,
  &.forgot_password,
  &.reset_password {
    background: $gray-lightest;
  }
}

// Search auto-complete
.ui-corner-all {
  border-radius: 0;
}

.ui-menu .ui-menu-item a {
  border-bottom: 1px solid #aaa;
  cursor: pointer;
  padding: 10px;
  text-shadow: none;

  &:hover,
  &.ui-state-focus {
    background: #dfdfdf;
    color: $gray-dark;
    text-shadow: none;
  }
}

#toggleTabletNavbar {
  display: none;
}

#contentWrap {
  @include clearfix;
  position: relative;
}

#content {
  background-color: #fff;
  float: right;
  position: relative;
  transition: all 250ms;
  width: 100%;
  z-index: 20;

  &.open {
    float: right;
    margin-right: -85%;
    transition: all 250ms;
  }
}

#header,
.taskbar {
  background: $gray-dark;
  box-sizing: border-box;
  height: 65px;
  position: fixed;
  width: 100%;
  z-index: 99;

  &.progress-striped .progress-bar {
    background-color: $gray-dark;
  }

  .container {
    padding: 0 25px;
  }

  #toggleMenu {
    background-size: 30px auto;
    display: inline-block;
    float: left;
    font-family: 0/0;
    height: 24px;
    margin: 19px 16px 0 0;
    width: 30px;
  }

  .title {
    float: left;
    width: 75%;
  }

  h2 {
    color: #fff;
    font-size: $font-size-base * 1.2;
    font-weight: bold;
    margin-top: 22px;
    text-transform: uppercase;
  }

  .actions {
    float: right;
    height: 65px;
    margin-right: -25px;
    position: relative;
    width: 25%;
    z-index: 9999;

    .dropdownToggle {
      background-color: rgba(0, 0, 0, .46);
      background-position: center center;
      background-size: 30px auto;
      border: 0;
      display: block;
      float: right;
      font-family: 0/0;
      height: 65px;
      margin-bottom: 4px;
      width: 70px;

      &:hover {
        border: 0;
      }
    }

    ul {
      @include clearfix;
      display: none;
      list-style-type: none;
      margin: 0;
      padding: 0;
      position: absolute;
      right: 0;
      top: 69px;

      li {
        a {
          background-color: $gray-darker;
          border: none;
          box-sizing: border-box;
          color: $gray-darker;
          display: block;
          font-size: $font-size-base * 1.29;
          height: 65px;
          line-height: 65px;
          margin-bottom: 4px;
          overflow: hidden;
          padding-left: 70px;
          text-decoration: none;
          transition: all 500ms;
          white-space: nowrap;

          &:before {
            color: #fff;
            margin-left: -45px;
            margin-right: 20px;
          }

        }

        &:hover a {
          background-color: #4ba75f;
          border: 0;
          color: #fff;
        }
      }
    }
  }
}

.taskbar {
  background-color: $gray-lighter;
  margin: 30px 0 40px;
  position: relative;

  .actions {
    .dropdownToggle {
      background-color: #8c8d94;
    }

    ul li {
      a {
        background-color: #8c8d94;
        color: #8c8d94;
      }

      &:hover a {
        color: #fff;
      }
    }
  }
}

#completeReminderModal {
  form {
    margin: 0;
  }

  .controls textarea {
    box-sizing: border-box;
    width: 100%;
  }
}

#main {
  padding-bottom: 30px;
  padding-top: 120px;
}

@media screen and (min-width: 767px) {

  .container {
    padding: 0;
    width: 100%;
  }

  #toggleTabletNavbar {
    background-color: #1f2024;
    background-position: 60px center;
    background-size: 30px auto;
    display: block;
    height: 100%;
    left: -50px;
    position: fixed;
    transition: left 250ms;
    width: 100px;
    z-index: 25;

    &.open {
      left: 215px;
      transition: left 250ms;

      &.subnav {
        left: 445px;
      }
    }
  }

  #header,
  .taskbar {
    padding-right: 50px;

    .container {
      @include clearfix;
    }

    .title {
      float: left;
      width: 55%;
    }

    h2 {
      font-size: $font-size-base * 1.71;
    }

    .actions {
      @include clearfix;
      margin-right: 0;
      position: fixed;
      right: 0;
      width: 50%;

      ul {
        @include clearfix;
        display: block !important;
        float: right;
        height: auto;
        list-style-type: none;
        margin: 0;
        padding: 0;
        top: auto;

        li {
          float: left;

          a {
            display: block;
            height: 65px;
            margin-bottom: 0;
            margin-left: 4px;
            width: auto;

            &.icon-list {
              background-color: rgba(0,0,0,0.46);
            }

            &.icon-print {
              background-color: rgba(0,0,0,0.46);
            }

            &.icon-add {
              background-color: rgba(0,0,0,0.46);
            }
          }

          &:hover a {
            background-color: #4ba75f;
            padding-right: 20px;
          }
        }
      }
    }
  }

  .taskbar .actions {
    position: absolute;
  }

  #content {
    box-sizing: border-box;
    padding-left: 50px;
    width: 100%;

    &.open {
      margin: 0;
    }
  }

  #main .container {
    box-sizing: border-box;
    padding: 0 25px;
  }
}

@media screen and (min-width: 1025px) {

  #header {
    padding-right: 265px;
    transition: all 250ms;
  }

  #content {
    padding-left: 265px;

    &.subnav {
      padding-left: 495px;

      #header {
        padding-right: 495px;
      }
    }
  }

  #toggleTabletNavbar {
    display: none;
  }
}

