#main-navbar{


}

@media (min-width: $screen-sm-min) {
  #main-wrapper {
    padding-left: 235px;
    width: 100%;
    overflow: hidden;
  }

  #main-navbar {
    min-height: 55px;
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    
    .navbar-inner {
      min-height: 55px;
      position: relative;
      left: 0;
      width: 100%;

      .navbar-collapse {
        max-height: auto;
        overflow: visible;
        padding:0 0 0 235px;
        width: auto;

        .collapse {
          display: block;
        }
      }
    }
  }

  .breadcrumb {
    background-color: $white;
    border-radius: 0;
    height: 45px;
    margin-bottom: 0;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 3;

    li {
      
      a {
        line-height: 55px;
        padding: 10px;
      }
      
    }
  }

  #content-wrapper {
    z-index: 2;
    padding: 45px 20px;
  }
}

