.sub-nav {
  border-radius: 0;
  font-family: $font-family-sans-serif;
  font-style: normal;
  font-weight: 600;
  margin: 0;
  width: 100%;

  .btn-group {
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 600;
  }
}

.col-alternative {
  padding: 0;
}

.user-nav {
  min-height: 50px;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 1;


  .icon-angle:before {
    transform: rotate(0deg);
    transition: transform .4s;
  }

  .open {
    > .btn-default.dropdown-toggle {
      background-color: $gray-darker;
      color: $white;
    }

    .icon-angle:before {
      transform: rotate(90deg);
    }
  }

  .btn-group {
    border-right: 1px $gray-lines solid;
    position: absolute;
    top: 0;
    z-index: 700;

    &.open .dropdown-toggle {
      box-shadow: none;
    }

    .btn-default {
      color: $gray-light;
      overflow: hidden;

      &:hover,
      &:focus {
        background-color: $gray-darker;
        color: $white;
      }
    }

    .dropdown-menu {
      background-color: $gray-darker;
      border: 0;
      border-radius: 0;
      -webkit-font-smoothing: antialiased;
      font-style: normal;
      font-weight: 600;
      margin: 0;
    }

    a {
      color: $white;
      padding: 7px 20px;

      &:hover,
      &:focus {
        background-color: lighten($gray-dark, .5%);
      }
    }
  }

  .btn {
    border: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
  }

  .icon-avatar {
    display: inline-block;
    font-size: $font-size-icon-large;
    padding: 6px 10px;
  }
}

@media (min-width: $screen-sm-min) {

  .main-wrapper {
    padding-left: 235px;
    width: 100%;
  }

  .main-header {
    background-color: $white;
    left: 0;
    padding-left: 235px;
    position: fixed;
    width: 100%;
    z-index: 99999;

    .breadcrumnb {
      border-bottom: 0;
      overflow: hidden;
      padding: 17px 25px 13px 18px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .sub-nav {
    border-bottom: 5px $brand-primary solid;
    border-radius: 0;
  }

  .user-nav {
    .btn-group {
      border-left: 1px $gray-lines solid;
      border-right: 0;
      display: inline-block;
      float: right;
      position: relative;
      right: 0;

      .dropdown-menu {
        left: auto;
        right: 0;
      }
    }

    .icon-avatar {
      padding: 2px 14px 6px;
    }
  }

  li:active {
    color: $breadcrumb-active-color;
  }
}

@media (min-width: $screen-md-min) {
  .user-nav .btn-group .icon-angle {
    margin: 5px 0;
    padding: 0 15px;
  }
}
