.main-content {
  padding: 40px 20px;
}

.sub-nav {
  border-radius: 0;
  font-family: $font-family-sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 0;
  width: 100%;

  .breadcrumb {
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 600;
    margin: 0;
    padding: 14px 19px 12px;
    width: 100%;

    li {
      padding: 0 4px;
    }

    li:active {
      color: $breadcrumb-active-color;

    }

    a {
      color: $breadcrumb-color;
    }

  }

  .breadcrumb > li + li:before {
    content: " ";
  }

  .icon-breadcrumb-separator {
    font-size: $font-size-icon-smallest;
    padding: 4px;
  }

  .user-nav {
    min-height: 50px;
    padding: 0;
    position: relative;
    width: 100%;


    .btn-default:hover,
    .btn-default:focus {
      background-color: $gray-darker;
      color: $white;
    }

    .icon-angle {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg); // IE9 only
      transform: rotate(0deg);
      transition: 550ms;
    }

    .open {

      & > .btn-default.dropdown-toggle{
        background-color: $gray-darker;
        color: $white;
      }

      .icon-angle {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg); // IE9 only
        transform: rotate(90deg);
        transition: 550ms;
      }
    }

    .btn-group.open .dropdown-toggle {
      box-shadow: none;
    }

    .btn {
      border-radius: 0;
      margin: 0;
      padding: 0;

      &:focus {
        outline: none;
      }
    }

    .icon-avatar {
      font-size: $font-size-icon-large;
      padding: 6px 10px 6px;
    }
  }

  .btn-group {
    border-right: 1px $gray-lines solid;
    position: absolute;
    top: 0;

    .btn-default {
      -webkit-font-smoothing: antialiased;
      color: $gray-light;
      font-style: normal;
      font-weight: 600;
    }

    .dropdown-menu {
      -webkit-font-smoothing: antialiased;
      background-color: $gray-darker;
      border-radius: 0;
      font-style: normal;
      font-weight: 600;
      border: 0;
      margin: 0;
    }

    a {
      color: $white;

      &:hover {
        background-color: lighten($gray-dark, .5%);
      }
    }
  }
}

@media (min-width: $screen-sm-min) {

  .main-wrapper {
    padding-left: 235px;
    overflow: hidden;
    width: 100%;
  }

  .main-header {
    left: 0;
    padding-left: 235px;
    position: fixed;
    width: 100%;
  }

  .sub-nav {
    border-bottom: 5px $brand-primary solid;
    border-radius: 0;

    .btn-group {
      border-right: none;
      display: inline-block;
      float: right;
      position: relative;
      right: 0;
      border-left: 1px $gray-lines solid;

      .dropdown-menu {
        right: 0;
        left: auto;
      }

      .icon-angle {
        padding: 0 15px;
        margin: 5px 0;
      }
    }

    .breadcrumb {
      border-bottom: 0;
      float: left;
      margin: 0;
      padding: 17px 25px 13px 18px;
    }

    .user-nav {

      .icon-avatar {
        padding: 8px 10px 10px;
      }
    }

    li:active {
      color: $breadcrumb-active-color;
    }

    a {
      color: $breadcrumb-color;
    }
  }
}
