.sub-nav {
  .user-nav {
    border-bottom: 5px $brand-primary solid;
    border-top: 1px $gray-lightest solid;

    .search-box {
      overflow: hidden;

      .controls {
        padding: 8px 0;

        input {
          border: none;
          color: $gray-light;
          float: left;
          width: 80%;
        }

        ::-webkit-input-placeholder {
          color:$gray-light;
          font-size: $font-size-large;
          font-style: normal;
          font-weight: normal;
        }

        ::-moz-placeholder {
          font-size: $font-size-large;
          color:$gray-light;
          font-style: normal;
          font-weight: normal;
        } /* firefox 19+ */

        :-ms-input-placeholder {
          font-size: $font-size-large;
          color:$gray-light;
          font-style: normal;
          font-weight: normal;
        } /* ie */

        input:-moz-placeholder {
          font-size: $font-size-large;
          color:$gray-light;
          font-style: normal;
          font-weight: normal;
        }
      }

      .controls .btn {
        background-color: $white;
        width: 20%;
      }

      .fa-search {
        color: $gray-light;
        font-size: $font-size-button-base;
        float: right;
      }
    }
  }
}
