.sub-nav {
  .user-nav {
    border-bottom: 5px $brand-primary solid;
    border-top: 1px $gray-lightest solid;

    .search-box {
      border-left: 1px $gray-lightest solid;
      border-right: 1px $gray-lightest solid;
      overflow: hidden;

      .controls {
        padding: 8px 0;

        input {
          border: none;
          color: $gray-light;
          float: left;
          width: 80%;
        }

        ::-webkit-input-placeholder { color:$gray-light; }
        ::-moz-placeholder { color:$gray-light; } /* firefox 19+ */
        :-ms-input-placeholder { color:$gray-light; } /* ie */
        input:-moz-placeholder { color:$gray-light; }
      }

      .controls .btn {
        background-color: $white;
        width: 20%;
      }

      .fa-search {
        color: $gray-light;
        font-size: $font-size-button-base;
        float: right;
      }
    }
  }
}
